@font-face {
  font-family: Shabnam;
  src: url("./font/Shabnam-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: Shabnam;
  src: url("./font/Shabnam-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: Shabnam;
  src: url("./font/Shabnam.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Shabnam;
  src: url("./font/Shabnam-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Shabnam;
  src: url("./font/Shabnam-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
